{% extends 'web/_base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load web %}

{% block head %}
    <style>
        .tomato {
            height: 1em;
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block body %}
    {% include 'web/_navbar.html' with active="find" %}
    <div class="container mt-5">
        <h1>
            {{ movie.data.Title }}
            {% if movie.rotten_tomatoes_rating %}
                <span class="badge bg-light text-dark">
                    <a href="{{ movie.data.tomatoURL }}" target="_blank">
                        {% if movie.rotten_tomatoes_rating >= 60 %}
                            <img src="{% static 'web/fresh.svg' %}" class="tomato">
                        {% else %}
                            <img src="{% static 'web/rotten.svg' %}" class="tomato">
                        {% endif %}
                        {{ movie.rotten_tomatoes_rating }}%
                    </a>
                </span>
            {% endif %}
            {% if movie.imdb_rating %}
                <span class="badge bg-light text-dark">
                    <a href="https://www.imdb.com/title/{{ movie.data.imdbID }}/" target="_blank">
                        <i class="fas fa-star imdb-star" style="color: #f5de50;"></i>
                        {{ movie.imdb_rating }}/10
                    </a>
                </span>
            {% endif %}
            {% if movie.metacritic_rating %}
                <span class="badge bg-light text-dark">
                    MC {{ movie.metacritic_rating }}/100
                </span>
            {% endif %}
        </h1>
        <form method="post">
            {{ form|crispy }}
            {% csrf_token %}
            {% if object.pk %}
                <button class="btn btn-primary">Speichern</button>
                {% if perms.core.create_watchparty %}
                    <a class="btn btn-secondary" href="{% url 'create_party' %}?imdbId={{ movie.pk }}">Filmabend
                        machen</a>
                {% endif %}
                <a href="{% url 'delete_movie' pk=object.pk %}" class="btn btn-danger">Löschen</a>
            {% else %}
                <button class="btn btn-primary">Erstellen</button>
            {% endif %}
        </form>
    </div>
{% endblock %}
