{% extends 'web/_base.html' %}
{% load static %}
{% load web %}

{% block head %}
    <style>
        .magic-conch-shell {
            transition: transform 100ms ease-in-out;
        }

        .magic-conch-shell:hover {
            transform: scale(1.1);
        }

        .tomato {
            height: 1em;
            vertical-align: initial;
        }
    </style>
{% endblock %}

{% block body %}
    {% include 'web/_navbar.html' with active="list" %}
    <div class="container mt-5">
        <div class="text-center p-3">
            <a class="btn" href="{% url 'magic_conch_shell' %}">
                <img class="magic-conch-shell" src="{% static 'web/magic_conch_shell.png' %}"
                     alt="Die magische Miesmuschel">
            </a>
        </div>

        {% if request.GET.includewatched %}
            <a href="{% url 'list' %}">Gesehene Filme verstecken</a>
        {% else %}
            <a href="{% url 'list' %}?includewatched=1">Gesehene Filme inkludieren</a>
        {% endif %}

        {% include "web/_movies_table.html" with movies=object_list show_watched=request.GET.includewatched %}
    </div>
{% endblock %}
