{% extends 'web/_base.html' %}

{% block body %}
    {% include 'web/_navbar.html' with active="find" %}
    <div class="container mt-5">
        <h1>{{ movie.data.Title }}</h1>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Löschen</button>
        </form>
    </div>
{% endblock %}
