{% extends 'web/_base.html' %}
{% load crispy_forms_filters %}

{% block body %}
    {% include 'web/_navbar.html' with active="parties" %}
    <div class="container mt-5">
        <form method="post">
            {{ form|crispy }}
            {% csrf_token %}
            {% if object.pk %}
                <button class="btn btn-primary">Speichern</button>
                <button class="btn btn-danger">Löschen</button>
            {% else %}
                <button class="btn btn-primary">Erstellen</button>
            {% endif %}
        </form>
    </div>
{% endblock %}
