{% extends 'web/_base.html' %}

{% block body %}
    {% include 'web/_navbar.html' with active="parties" %}

    <div class="container mt-5">
        <h1>Filmabende</h1>

        {% if perms.core.create_watchparty %}
            <p>
                <a href="{% url 'create_party' %}" class="btn btn-primary">
                    <i class="fas fa-plus"></i>
                    Neuer Filmabend
                </a>
            </p>
        {% endif %}

        <p>
            Im iCalendar Format: <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'party_ical' %}"
                                    target="_blank">{{ request.scheme }}://{{ request.get_host }}{% url 'party_ical' %}</a>
        </p>

        {% if next %}
            <div class="alert alert-success">

                <h2>Nächster Filmabend</h2>

                <div class="row">
                    <div class="col">
                        <img src="{{ next.movie.data.Poster }}" alt="Movie Poster">
                    </div>
                    <div class="col">
                        <h3>{{ next.movie.data.Title }} ({{ next.movie.data.Year }})</h3>
                        <time class="h4" datetime="{{ next.datetime|date:"c" }}">am {{ next.datetime|date }}
                            um {{ next.datetime|date:"G:i" }}</time>
                    </div>
                </div>
            </div>
        {% endif %}

        <h2>Vergangene Filmabende</h2>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Film</th>
                <th>Wann</th>
            </tr>
            </thead>
            <tbody>
            {% for party in past %}
                <tr>
                    <td>
                        <a href="{% url 'edit_movie' pk=party.movie.pk %}">
                            {{ party.movie.data.Title }}
                        </a>
                    </td>
                    <td>
                        {{ party.datetime|date }}, {{ party.datetime|date:"G:i" }}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2" class="text-muted text-center fst-italic">Keine vergangenen Filmabende</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
