{% load static %}
{% load web %}

{% block head %}
    <style>
        .tomato {
            height: 1em;
            vertical-align: initial;
        }
    </style>
{% endblock %}

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th class="d-none d-xl-table-cell">Rotten Tomatoes</th>
        <th class="d-none d-xl-table-cell">IMDb</th>
        <th class="d-none d-xl-table-cell">Metacritic</th>
        <th class="d-none d-xl-table-cell">Vorgeschlagen von</th>
        <th class="d-none d-xl-table-cell">Trash/5</th>
        <th class="d-none d-xl-table-cell">Kommentar</th>
        {% if show_watched %}<th class="d-none d-xl-table-cell">Gesehen</th>{% endif %}

    </tr>
    </thead>
    <tbody>
    {% for movie in movies %}
        <tr>
            <td>
                <a href="{% url 'edit_movie' pk=movie.pk %}">
                    {{ movie.data.Title }}
                </a>
            </td>
            <td>
                {% if movie.rotten_tomatoes_rating %}
                    <a href="{{ movie.data.tomatoURL }}" target="_blank">
                        {% if movie.rotten_tomatoes_rating >= 60 %}
                            <img src="{% static 'web/fresh.svg' %}" class="tomato">
                        {% else %}
                            <img src="{% static 'web/rotten.svg' %}" class="tomato">
                        {% endif %}
                        {{ movie.rotten_tomatoes_rating }}%
                    </a>
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>
                {% if movie.imdb_rating %}
                    <a href="https://www.imdb.com/title/{{ movie.data.imdbID }}/" target="_blank">
                        <i class="fas fa-star imdb-star" style="color: #f5de50;"></i>
                        {{ movie.imdb_rating }}
                    </a>
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td class="d-none d-xl-table-cell">
                {% if movie.metacritic_rating %}
                    {{ movie.metacritic_rating }}/100
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td class="d-none d-xl-table-cell">
                {{ movie.suggested_by }}
            </td>
            <td class="d-none d-xl-table-cell">
                {{ movie.poop_score|poop_score }}
            </td>
            <td class="d-none d-xl-table-cell">
                {{ movie.comment|truncatechars:"25" }}
            </td>
            {% if show_watched %}
                <td class="d-none d-xl-table-cell">
                    {% if movie.watched %}
                        <i class="fa-solid fa-check"></i>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% empty %}
        <tr>
            <td colspan="8" class="text-muted text-center fst-italic">Keine Filme</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
