<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'list' %}">
            Filmliste
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if active == "list" %}active{% endif %}"
                       {% if active == "find" %}aria-current="page"{% endif %} href="{% url 'list' %}">
                        <i class="fa-solid fa-clipboard-list"></i>
                        Die Liste
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active == "find" %}active{% endif %}"
                       {% if active == "find" %}aria-current="page"{% endif %} href="{% url 'omdb_search' %}">
                        <i class="fas fa-search"></i>
                        Film suchen
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active == "parties" %}active{% endif %}"
                       {% if active == "parties" %}aria-current="page"{% endif %} href="{% url 'parties' %}">
                        <i class="fa-solid fa-calendar-days"></i>
                        Filmabende
                    </a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="btn" href="{% url 'logout' %}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a>
            </div>
        </div>
    </div>
</nav>
