{% extends 'web/_base.html' %}

{% block body %}
    {% include 'web/_navbar.html' with active="list" %}

    <div class="container mt-5">
        <h1>Die magische Miesmuschel sagt...</h1>

        {% include 'web/_movies_table.html' with movies=random_movies %}
    </div>
{% endblock %}
