{% extends 'web/_base.html' %}

{% block body %}
    {% include 'web/_navbar.html' with active="find" %}

    <div class="container mt-5">
        <form method="get" action="{% url 'omdb_search' %}" class="mb-5">
            <div class="input-group">
                <input class="form-control form-control-lg" type="search" placeholder="Filmname oder IMDb-Link" name="q"
                       autofocus>
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>

        {% if movies is not None %}
            <h1>Found {{ movies | length }} movies</h1>

            <div class="container mt-5">
                <div class="row">
                    {% for movie in movies %}
                        <div class="col col-md-3 col-12">
                                <div class="card mb-3">
                                    {% if not movie.Poster or movie.Poster == 'N/A' %}
                                        <img src="https://placehold.co/300x450?text=Kein+Poster"
                                             alt="Kein Poster"
                                             class="card-img">
                                    {% else %}
                                        <img src="{{ movie.Poster }}" class="card-img"
                                             alt="Poster">
                                    {% endif %}

                                    <div class="card-body">
                                        <h5 class="card-title has-text-centered">
                                            {{ movie.Title }} ({{ movie.Year }})
                                            {% if movie.imdbID in movie_ids_in_list %}
                                            <span class="badge rounded-pill text-bg-success">
                                                <i class="fas fa-check"></i>
                                            </span>
                                            {% endif %}
                                        </h5>

                                        <a href="{% url 'omdb_get' movie.imdbID %}" class="btn btn-sm stretched-link">Details</a>
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
