{% extends 'web/_base.html' %}

{% load static %}

{% block head %}
    <style>
        .tomato {
            height: 1em;
            vertical-align: initial;
        }
    </style>
{% endblock %}

{% block body %}
    {% include 'web/_navbar.html' with active="find" %}
    <div class="container mt-5">
        <h1>{{ movie.Title }}</h1>
        <div class="row">
            <div class="col-md-3">
                <img src="{{ movie.Poster }}" alt="Poster for {{ movie.Title }}" style="width: 100%;">
            </div>
            <div class="col">
                <p>
                    {{ movie.Plot }}
                </p>
                <p class="text-muted">
                    <ul>
                    {% for rating in movie.Ratings %}
                        <li>
                            {{ rating.Source }}:
                            {% if rating.Source == "Rotten Tomatoes" %}
                                {% if rating.Value|cut:"%"|add:"0" >= 60 %}
                                    <img src="{% static 'web/fresh.svg' %}" class="tomato">
                                {% else %}
                                    <img src="{% static 'web/rotten.svg' %}" class="tomato">
                                {% endif %}
                            {% endif %}
                            {% if rating.Source == "Internet Movie Database" %}
                                <i class="fas fa-star imdb-star" style="color: #f5de50;"></i>
                            {% endif %}
                            {{ rating.Value }}
                        </li>
                    {% endfor %}
                    </ul>
                </p>

                {% if in_db %}
                    <div class="alert alert-info">
                        Dieser Film ist bereits in der Liste. <a href="{% url 'list' %}">Liste anschauen.</a>
                    </div>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'add_movie'  pk=movie.imdbID %}">Zur Liste hinzufügen</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
